body {
    margin: 0;
    overflow: hidden;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    display: block; /* Removes extra space below canvas */
    width: 100%; /* Ensures canvas fills the container width */
    height: 100%; /* Ensures canvas fills the container height */
}
